//=====================================================
// colors

$lightPink:#F0D1E6;
$darkPink:#D08BBB;
$blueGreen:#BCDBDF;
$lightBlue:#BAD9EF;
$blue:#8FA5D3;
$orange:#FDC852;
$black:#000000;
$white:#FFFFFF;
$darkness:#3C3C3C;
$grey:#64676E; //text
$lightGrey:#F2F2F2;
$mediumGrey:#CCCCCC;
$lightWhite:#F8F8F8;
$mediumGrey:#707070;
$red:red;
$ultraGrey:#ECECEC;

$shadow:rgba(0,0,0,0.54);

//=====================================================
// Fonts

$fontTitle: "Luckiest Guy";
$body: "Roboto";

//=====================================================
// Size nav bar

$nav:960px;