// Fonts

// Luckiest guy
@font-face {
    font-family: "Luckiest Guy";
    src: url("./assets/font/LuckiestGuy-Regular.ttf");
}

// Roboto
@font-face {
    font-family: "Roboto";
    src: url("./assets/font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-bold";
    src: url("./assets/font/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto-italic";
    src: url("./assets/font/Roboto-Italic.ttf");
}

@font-face {
    font-family: "Roboto-bold-italic";
    src: url("./assets/font/Roboto-BoldItalic.ttf");
}

@font-face {
    font-family: "Roboto-light";
    src: url("./assets/font/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-light-italic";
    src: url("./assets/font/Roboto-LightItalic.ttf");
}