//=====================================================
// button

.btn {
    width:100%;
    height:3rem;
    border-radius:2rem;
}

.yellowButton {
    @extend .btn;
    background-color:$orange;
    border:$orange;
}

.blueButton {
    @extend .btn;
    background-color:$blue;
    border:$blue;
    color:$white;
    margin-top:1.5rem;
}

.carousel__contact-button{
    margin-right:2.5%;
    background-color:$blue;
    color:$white;
    font-size:.8rem;
    position:absolute;
    width:100%;
    margin-top:0;
    border-top-right-radius:.3rem;
    border-top-left-radius:.3rem;
    height:2rem;
    display:flex;
    align-items:center;
    justify-content:center;

    & a{
        color:$white;
        text-decoration:none;
    }
}

#picturAnimal button{
    margin-bottom:1rem;
} 