// ====================================================
// Caroussel

.carousel {
    display: flex;
    overflow: hidden; // on empêche le contenu qui dépasse de s'afficher
    scroll-behavior: smooth; // on fait en sorte que le scroll à l'intérieur de cet élément soit "lissé" => effet d'animation

    &__item {
        // on retire la capacité de ces blocs à s'écraser pour laisser passer tout le monde sur la ligne
        // sinon, la propiété width: 100% ne sera pas respectée
        flex-shrink: 0;
        width: 100%;
        position:relative;
    }
    
    &__image {
        display:block;
        border: 1px solid $mediumGrey;
        border-radius:.3rem;
        margin:0 auto 1rem;
        -webkit-box-shadow: 0px 9px 12px -7px $shadow; 
        box-shadow: 0px 9px 12px -7px $shadow;
        background-color:$white;
        margin-top:0rem;
        object-fit:cover;
        object-position: center top;
    }

    &__nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        &__button {
            border: 1px solid $blue;
            cursor: pointer; // le curseur doit être une main car l'élément va avoir un effet si cliqué
            height: 1rem;
            margin: .5rem;
            width: 1rem;
            border-radius:50%;

            // traduit en css => .carousel__nav__button.active
            &.active {
                background-color: $blue;
            }
        }
    }
}

@include small {
    .carousel__image{
        width:100%;
        height:250px;
    }
}

@include medium {
    .carousel__image{
 width:100%;
 height:400px;
 justify-self:center;
    }
    .box{
        margin:0 auto;
        width:500px;
    }
}

@include big {
    .carousel__image{
    width:100%;
    height:550px;
    }

   
}
