//=====================================================
// lost password : CONNEXION

.lostPassword a{
    text-decoration:none;
    font-size:.7rem;
}

#lostPassword,
#modifyProfile
 {
    margin-top:5rem;
}

#policy {
    width:.8rem;
}