//=====================================================
// général

@include medium {
    .boxOfCards{
        justify-content:center;
        display:flex;
        flex-wrap:wrap;

    }
    .choiceAnimal {
        max-width:500px;
        margin:3rem auto;
    }

    .card {
        width: 385px;
        margin:10px;
    }

}

.required{
    color:$red;
    font-size:.7rem;
  }

@include small {
    .choiceAnimal,
    .boxSmall,
    .blueButton,
    .yellowButton{
        max-width:500px;
        margin:1rem auto;
        display:block;
    }

    @include big {
        .card {
            width:30%;
        }
    }



    .top404 {
        margin-top:5rem;
    }
}

body{
background-color:$white;
font-family:$body;
font-size:1rem;
background-image:url('./assets/images/empreintes.svg');
min-height: 100vh;
line-height:1.5rem;

@include big {
    background-size:cover;
}

.bell {
    margin-right:1rem;
}
}

.container {
    display:flex;
    padding-left:1rem;
    padding-right:1rem;
    min-height: 82vh;
    justify-content:center;
    flex-wrap:wrap;
    max-width:$container;
}

a {
    color:$blue;
}

p {
    margin-top:1rem;
}

// space
.bottom {
    margin-bottom:5rem;
}

.top {
    margin-top:5rem;
}

.top404{
    margin-top:0;
}

article {
    margin-top:2rem;
}

// title of current page

.title {
    width:70%;
    margin: 0  auto;
    text-align:center;
}

.title__page {
    font-size:28px;
    font-family:$fontTitle;
    color:$darkPink;
    line-height:2rem;
    padding-top:3rem;
}


.box {
    max-width:500px;
    height:100%;

    &__top404{
        width:100%;
        max-width:500px;
    }
}

.alertInProgress {
    font-size:.7rem;
    color: $blue;
    text-align:center;
}