//=====================================================
// checkbox

.checkbox {
    display:flex;
    align-items:center;
    box-shadow:none;
}

.checkbox label{
    margin-top:.5rem;
    margin-left:.5rem;
}